@page
@inject SignInManager<User> SignInManager

@model WebApplicationSocialMedia.Areas.Identity.Pages.Account.DeleteAccountModel
@{
}

@{
    if (SignInManager.IsSignedIn(User)){
        <form method="post">
            <h1>Are you sure you want to delete your account?</h1>
            <div>
                <div class="row mb-3 w-70 align-content-center">
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-primary" style="background-color: #1272d6; color: white;">Delete</button>
                    </div>
                    <div class="col d-grid">
                        <a class="btn btn-outline-primary" href="./Profile" role="button">Cancel</a>
                    </div>
                </div>
            </div>
        </form>  
    }
    
}
