@page
@using Microsoft.AspNetCore.Identity
@using WebApplicationSocialMedia.Models
@inject SignInManager<User> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="container">
        @if (!SignInManager.IsSignedIn(User))
        {
            <h1>Become a part of Social Network!</h1>
        }
        else
        {
            <h1>Welcome to Social Network!</h1>
        }
        <p>
            Connect with friends, share your thoughts, and explore new interests.
            <br/>
            Join us and be part of a community!
        </p>
        <div class="image-container">
            <img src="~/images/start2.png" />
        </div>
    </div>
</body>
<style>
    h1 {
        color: #1272d6;
    }

    p {
        width: 75%;
        font-size: 2.0em;
    }
    
    .image-container img {    
        height: 300px;
        display: block;
        margin: 0 auto;
    }
</style>



