@page
@model OurUsersModel
@{
}

<h1>Top users:</h1>

<table class="table">	
	<tbody>
		@{
			for (int i = 0; i < Model.cnt; i++)
			{
				<tr>
					<td>
						@(i + 1)
					</td>
					<td>
						@{
							if (Model.users[i].image != null)
							{
								<img src="data:image;base64,@Model.users[i].image" width="75px" height="75px" />
							}
							else
							{
								<img src="~/images/default_avatar.png" width="75px" height="75px" />
							}
						}
					</td>
					<td>
						@Model.users[i].surname
					</td>
					<td>
						@Model.users[i].name
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<h3>Total: @Model.users.Count() </h3>

<style>
	body {
		background-color: #ffffff;
	}

	.table {
		width: 60%;
	}

	h1 {
		color: #1272d6;
	}

	h3 {
		color: #000000;
		margin-bottom: 100px;
	}

</style>